Repository DisnakeDev/disnake, pull requests merged in 2022-12, with the labels that each got.

#849 fix(typing): allow `Bot(help_command=None)`
  changelog/849.bugfix.rst
  disnake/ext/commands/bot.py
  disnake/ext/commands/bot_base.py
  disnake/ext/commands/common_bot_base.py
  test_bot/__main__.py
Labels: s: needs review, t: refactor/typing/lint, t: bugfix

#880 fix(channel): add `applied_tags` to `create_thread` overloads
  changelog/880.bugfix.rst
  disnake/channel.py
Labels: s: needs review, t: refactor/typing/lint, t: bugfix, needs backport: 2.7

#875 feat(tests): define reveal_type at runtime
  tests/ext/commands/test_core.py
  tests/helpers.py
Labels: s: needs review, t: refactor/typing/lint, t: tests, skip news

#870 fix: handle `public_flags` value for `Message.author` when member cache is disabled
  changelog/870.bugfix.rst
  disnake/user.py
Labels: p: low, s: needs review, t: bugfix, needs backport: 2.7

#877 feat(automod): add `allow_list` to keyword rule parameter overloads
  changelog/877.doc.rst
  changelog/877.feature.rst
  disnake/automod.py
Labels: t: enhancement, t: api support, s: needs review

#854 feat: implement `TextChannel.default_thread_slowmode_delay`
  changelog/854.feature.rst
  disnake/channel.py
  disnake/guild.py
  disnake/message.py
  disnake/types/channel.py
  docs/api.rst
Labels: t: enhancement, t: api support, s: needs review

#858 fix: revert to weakrefs for user cache
  changelog/858.bugfix.rst
  disnake/state.py
  disnake/user.py
Labels: s: needs review, t: bugfix

#888 docs: add missing description to example
  examples/views/select/dropdown.py
Labels: t: documentation, s: needs review, skip news

#896 fix(deps): update pytest-asyncio to fix CI failures on latest 3.10/3.11
  requirements/requirements_dev.txt
Labels: p: high, s: needs review, t: dependencies, t: bugfix, skip news, needs backport: 2.7

#890 feat(Locale): add Indonesian locale
  changelog/890.feature.rst
  disnake/enums.py
  docs/api.rst
Labels: t: enhancement, t: api support, s: needs review

#887 fix: use documented custom emoji format for reactions
  changelog/887.bugfix.rst
  disnake/message.py
  tests/test_message.py
Labels: p: low, s: needs review, t: bugfix, t: tests

#885 feat(channel): add `ForumChannel.default_layout`
  changelog/885.feature.rst
  disnake/abc.py
  disnake/channel.py
  disnake/enums.py
  disnake/http.py
  disnake/types/channel.py
  docs/api.rst
  tests/test_abc.py
Labels: t: enhancement, t: api support, s: needs review

#865 feat: add `nsfw` field to application commands
  changelog/865.feature.rst
  disnake/app_commands.py
  disnake/ext/commands/base_core.py
  disnake/ext/commands/ctx_menus_core.py
  disnake/ext/commands/interaction_bot_base.py
  disnake/ext/commands/slash_core.py
  disnake/types/interactions.py
Labels: t: enhancement, t: api support, s: needs review
