Repository DisnakeDev/disnake, pull requests merged in 2023-05, with the labels that each got.

#984 feat(PartyType): add a new activity
  changelog/984.feature.rst
  disnake/enums.py
  docs/api/voice.rst
Labels: t: enhancement, s: needs review

#1026 fix(ci): pin `urllib3<2` for pdm
  .github/actions/setup-env/action.yml
Labels: t: dependencies, t: meta, skip news

#1024 docs: Clarify docs about the on_member_update event
  changelog/992.doc.rst
  disnake/enums.py
  docs/api/events.rst
Labels: t: documentation, s: needs review

#1015 fix: completes todo
  disnake/ext/commands/common_bot_base.py
  disnake/types/interactions.py
Labels: s: needs review, t: bugfix, skip news

#898 feat(AutoMod): add support for `mention_raid_protection_enabled`
  changelog/898.feature.rst
  disnake/automod.py
  disnake/types/automod.py
Labels: t: enhancement, t: api support, s: needs review

#1018 fix(Cog): raise error if `InteractionBot` has prefix commands related things
  changelog/1018.bugfix.rst
  disnake/ext/commands/cog.py
Labels: s: needs review, t: bugfix

#1032 docs: add ci status badge
  README.md
Labels: s: needs review, t: meta, skip news

#1034 docs: exclude `pins()` from voice/stage channels
  changelog/1033.doc.rst
  disnake/message.py
  docs/api/channels.rst
Labels: t: documentation, s: needs review

#1030 fix(automod): improve validation for invalid `actions`
  changelog/1030.bugfix.rst
  disnake/automod.py
  disnake/guild.py
Labels: s: needs review, t: bugfix

#1027 fix: always deserialize `application_flags` in ready event
  changelog/1027.bugfix.rst
  disnake/state.py
  disnake/types/appinfo.py
Labels: s: needs review, t: bugfix

#1008 fix(forumchannel): set attachment data correctly
  changelog/1008.bugfix.rst
  disnake/http.py
Labels: s: needs review, t: bugfix, needs backport: 2.8

#1039 docs: Update info about Bot account creation process
  changelog/1039.doc.rst
  docs/discord.rst
  docs/images/discord_bot_acquire_token.png
  docs/images/discord_bot_user_options.png
  docs/images/discord_create_app_button.png
  docs/images/discord_create_app_form.png
  docs/images/discord_create_bot_user.png
Labels: t: documentation, s: needs review

#899 feat(Guild): add support for raid alerts
  changelog/899.feature.rst
  disnake/guild.py
  disnake/http.py
  disnake/types/guild.py
  docs/locale/ja/LC_MESSAGES/api.po
Labels: t: enhancement, t: api support, s: needs review

#1029 fix(converter): fix `clean_content` not using nicknames in some cases
  changelog/1029.bugfix.rst
  disnake/ext/commands/converter.py
Labels: s: needs review, t: bugfix

#1025 feat: support new username system
  changelog/1025.feature.rst
  disnake/abc.py
  disnake/ext/commands/converter.py
  disnake/flags.py
  disnake/guild.py
  disnake/member.py
  disnake/team.py
  disnake/types/user.py
  disnake/user.py
  disnake/webhook/async_.py
  disnake/widget.py
  docs/api/events.rst
  docs/api/widgets.rst
  docs/ext/commands/commands.rst
Labels: t: enhancement, t: api support, p: high, s: needs review

#1016 test: add event method/decorator tests
  tests/test_events.py
Labels: s: needs review, t: tests, skip news
