Repository DisnakeDev/disnake, pull requests merged in 2023-01, with the labels that each got.

#903 fix: change `default_layout` value from `...` to `MISSING`
  changelog/903.feature.rst
  disnake/channel.py
Labels: p: medium, s: needs review, t: bugfix

#894 misc: improve `asset.py` typing
  disnake/asset.py
Labels: s: needs review, t: refactor/typing/lint, skip news

#855 feat: add new properties on `disnake.File` class
  changelog/839.feature.rst
  disnake/file.py
Labels: t: enhancement, s: needs review

#864 docs: update/cleanup `Invite` documentation
  changelog/864.doc.rst
  disnake/invite.py
Labels: t: documentation, p: low, s: needs review

#905 feat(Message): new message types
  changelog/905.feature.rst
  disnake/enums.py
  disnake/message.py
  disnake/types/message.py
  docs/api.rst
Labels: t: enhancement, t: api support, s: needs review

#907 fix: avoid stale local command cache when deleting guild application command
  changelog/907.bugfix.rst
  disnake/client.py
Labels: s: needs review, t: bugfix, needs backport: 2.7

#910 feat(Sticker): support gif stickers
  changelog/910.feature.rst
  disnake/enums.py
  docs/api.rst
Labels: t: enhancement, t: api support, s: needs review

#578 feat: improve guild creation, add new guild builder
  changelog/578.feature.rst
  disnake/client.py
  disnake/guild.py
  disnake/http.py
  disnake/types/channel.py
  disnake/types/guild.py
  disnake/types/role.py
  docs/api.rst
Labels: t: enhancement, t: api support, p: low, s: needs review

#883 chore(UserFlags): update certified moderator description
  changelog/883.feature.rst
  disnake/flags.py
Labels: t: enhancement, t: api support, s: needs review

#881 feat(gateway): adds reasons to close events codes
  changelog/873.feature.rst
  disnake/errors.py
  disnake/gateway.py
Labels: t: enhancement, s: needs review

#906 feat: role connections
  changelog/906.feature.rst
  disnake/__init__.py
  disnake/appinfo.py
  disnake/application_role_connection.py
  disnake/client.py
  disnake/enums.py
  disnake/http.py
  disnake/role.py
  disnake/types/appinfo.py
  disnake/types/application_role_connection.py
  disnake/types/i18n.py
  disnake/types/interactions.py
  disnake/types/role.py
  docs/api.rst
Labels: t: enhancement, t: api support, s: needs review

#911 fix: fix errors when trying to deserialize stickers with unknown formats
  changelog/911.bugfix.rst
  disnake/enums.py
  disnake/sticker.py
  disnake/types/sticker.py
Labels: p: high, s: needs review, t: bugfix, needs backport: 2.7

#918 feat(Member): add flags
  changelog/918.feature.rst
  disnake/flags.py
  disnake/member.py
  disnake/permissions.py
  disnake/types/gateway.py
  disnake/types/member.py
  docs/api.rst
  tests/interactions/test_base.py
Labels: t: enhancement, t: api support, s: needs review
