Repository DisnakeDev/disnake, pull requests merged in 2024-12, with the labels that each got.

#1188 feat(message): implement message forwarding
  changelog/1187.feature.rst
  disnake/abc.py
  disnake/enums.py
  disnake/flags.py
  disnake/member.py
  disnake/message.py
  disnake/types/message.py
  docs/api/messages.rst
Labels: t: enhancement, t: api support

#1255 fix(ci): pin Python 3.12 in matrix to 3.12.7 due to PDM bug
  .github/workflows/lint-test.yml
Labels: t: meta, t: bugfix, skip news

#1173 feat: user apps
  changelog/1173.deprecate.0.rst
  changelog/1173.deprecate.1.rst
  changelog/1173.feature.rst
  disnake/app_commands.py
  disnake/appinfo.py
  disnake/ext/commands/base_core.py
  disnake/ext/commands/ctx_menus_core.py
  disnake/ext/commands/interaction_bot_base.py
  disnake/ext/commands/slash_core.py
  disnake/flags.py
  disnake/interactions/application_command.py
  disnake/interactions/base.py
  disnake/interactions/message.py
  disnake/interactions/modal.py
  disnake/message.py
  disnake/types/appinfo.py
  disnake/types/interactions.py
  disnake/types/message.py
  disnake/utils.py
  docs/api/app_commands.rst
  docs/api/app_info.rst
  docs/api/interactions.rst
  docs/api/messages.rst
  docs/ext/commands/api/app_commands.rst
  docs/ext/commands/api/checks.rst
  docs/ext/commands/slash_commands.rst
  tests/ext/commands/test_base_core.py
  tests/test_utils.py
Labels: t: enhancement, t: api support

#1256 feat(channel): add `GroupChannel.get_partial_message`
  changelog/1256.feature.rst
  disnake/channel.py
  disnake/message.py
Labels: t: enhancement

#1068 feat: soundboard
  changelog/1068.feature.0.rst
  changelog/1068.feature.1.rst
  disnake/__init__.py
  disnake/asset.py
  disnake/audit_logs.py
  disnake/channel.py
  disnake/client.py
  disnake/enums.py
  disnake/ext/commands/converter.py
  disnake/ext/commands/errors.py
  disnake/flags.py
  disnake/guild.py
  disnake/http.py
  disnake/soundboard.py
  disnake/state.py
  disnake/types/audit_log.py
  disnake/types/gateway.py
  disnake/types/guild.py
  disnake/types/soundboard.py
  disnake/types/voice.py
  disnake/utils.py
  docs/api/audit_logs.rst
  docs/api/events.rst
  docs/api/index.rst
  docs/api/soundboard.rst
  docs/ext/commands/api/converters.rst
  docs/ext/commands/api/exceptions.rst
  docs/ext/commands/commands.rst
  tests/test_utils.py
Labels: t: enhancement, t: api support, s: needs review

#1190 fix(typing): improve view type inference of ui decorators
  changelog/1190.feature.rst
  disnake/ui/button.py
  disnake/ui/item.py
  disnake/ui/select/base.py
  disnake/ui/select/channel.py
  disnake/ui/select/mentionable.py
  disnake/ui/select/role.py
  disnake/ui/select/string.py
  disnake/ui/select/user.py
  disnake/ui/view.py
  pyproject.toml
  tests/ui/test_decorators.py
Labels: t: refactor/typing/lint

#914 fix(modal): fix timeout edge cases with `custom_id` reuse and long-running callbacks
  changelog/914.bugfix.rst
  disnake/ui/modal.py
  examples/interactions/modal.py
  test_bot/cogs/modals.py
Labels: s: needs review, t: bugfix

#1262 fix(commands): some caveats related to guild cache in user app interactions
  disnake/ext/commands/cooldowns.py
  disnake/ext/commands/core.py
  disnake/interactions/application_command.py
  disnake/interactions/base.py
  disnake/interactions/message.py
  disnake/interactions/modal.py
Labels: t: documentation, t: bugfix, skip news

#1243 refactor(docs): move enum documentation to docstrings
  changelog/1243.misc.rst
  disnake/enums.py
  disnake/ext/commands/cooldowns.py
  disnake/ext/commands/flags.py
  docs/api/activities.rst
  docs/api/app_commands.rst
  docs/api/app_info.rst
  docs/api/audit_logs.rst
  docs/api/automod.rst
  docs/api/channels.rst
  docs/api/components.rst
  docs/api/entitlements.rst
  docs/api/events.rst
  docs/api/guild_scheduled_events.rst
  docs/api/guilds.rst
  docs/api/index.rst
  docs/api/integrations.rst
  docs/api/interactions.rst
  docs/api/invites.rst
  docs/api/localization.rst
  docs/api/messages.rst
  docs/api/skus.rst
  docs/api/stage_instances.rst
  docs/api/stickers.rst
  docs/api/subscriptions.rst
  docs/api/users.rst
  docs/api/voice.rst
  docs/api/webhooks.rst
  docs/api/widgets.rst
  docs/conf.py
  docs/ext/commands/api/checks.rst
  docs/extensions/enumattrs.py
Labels: t: documentation, p: low, t: refactor/typing/lint

#1264 fix(http): escape `/` in url parameters
  changelog/1264.bugfix.rst
  disnake/http.py
Labels: t: bugfix

#1263 build: support Python 3.13
  .github/workflows/lint-test.yml
  changelog/1263.misc.rst
  disnake/player.py
  noxfile.py
  pyproject.toml
Labels: t: dependencies, t: meta

#1267 fix(state): prevent `DeprecationWarning` on shard reconnect
  changelog/1267.bugfix.rst
  disnake/message.py
  disnake/state.py
Labels: t: bugfix
