Repository DisnakeDev/disnake, pull requests merged in 2024-05, with the labels that each got.

#1189 fix: use media.discordapp.net for gif stickers
  changelog/1189.bugfix.rst
  disnake/asset.py
  disnake/sticker.py
Labels: t: api support, t: bugfix

#1185 docs: update required permissions for editing member flags
  disnake/member.py
Labels: t: documentation, skip news

#1174 feat(guild): add `Guild.bulk_ban` method
  changelog/1174.feature.rst
  disnake/bans.py
  disnake/guild.py
  disnake/http.py
  disnake/types/guild.py
  docs/api/guilds.rst
Labels: t: enhancement, t: api support, s: needs review

#1195 docs: add v2.9.2 changelog to latest docs
  docs/whats_new.rst
Labels: t: documentation

#889 feat: implement avatar decorations
  changelog/889.feature.rst
  disnake/asset.py
  disnake/member.py
  disnake/types/gateway.py
  disnake/types/member.py
  disnake/types/user.py
  disnake/user.py
  docs/api/widgets.rst
Labels: t: enhancement, t: api support, s: needs review
